<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>BUSQUEDA DE CURSO POR NOMBRE</h1>

{% if busqueda_formulario %}
    <form action="" method="GET">
        {{busqueda_formulario}}
        <button type="submit">Buscar</button>
    </form>
{% else %}
    {% if cursos %}
        <ul>
        {% for curso in cursos %}
            <li>{{curso.nombre}}</li>
        {% endfor %}
        </ul> 
    {% else %}
        <h1>No hay cursos con ese criterio!!</h1>
    {% endif %}
{% endif %}
</body>
</html>