<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
<p>Inicio de sesión requerido</p>
<form method="post">
    {% csrf_token %}
    <label for="usuario">
        <input type="text" name="username">
    </label>
    <label for="pass">
        contraseña
        <input type="password" name="password">
    </label>
    <button type="submit">Iniciar Sesión</button>
</form>
    
</body>
</html>